.color-blue-primary {
    color: $color-blue-primary;
}

.color-blue-secondary {
    color: $color-blue-secondary;
}

.color-aqua-light {
    color: $color-aqua-light;
}

.color-kimberly-dark {
    color: $color-kimberly-dark;
}

.color-kimberly-medium {
    color: $color-kimberly-medium;
}

.color-kimberly-light {
    color: $color-kimberly-light;
}

.color-red-lighter {
    color: $color-red-lighter;
}

.color-red {
    color: $color-red;
}

.color-black {
    color: $color-black;
}

.color-white {
    color: $color-white;
}

.bg-blue-primary {
    background-color: $color-blue-primary;
}

.bg-blue-secondary {
    background-color: $color-blue-secondary;
}

.bg-aqua-light {
    background-color: $color-aqua-light;
}

.bg-kimberly-dark {
    background-color: $color-kimberly-dark;
}

.bg-kimberly-medium {
    background-color: $color-kimberly-medium;
}

.bg-kimberly-light {
    background-color: $color-kimberly-light;
}

.bg-red-lighter {
    background-color: $color-red-lighter;
}

.bg-red {
    background-color: $color-red;
}

.bg-black {
    background-color: $color-black;
}

.bg-white {
    background-color: $color-white;
}

