.page {
    display: flex;
    justify-content: space-between;
    padding: $page-content-padding $page-content-padding 0 $page-content-padding;

    &__content {
        width: calc(100vw - #{$side-bar-width} - #{$page-content-padding} * 3 - #{$right-bar-width});

        &__content-area {
            @include borderRadius(4);

            min-height: calc(100vh - #{$title-bar-height} - 80px);
            padding: $base * 6;
            z-index: 2;
            width: 100%;

            &--edit-mode {
                position: relative;

                &::after {
                    position: absolute;
                    content: '';
                    top: 12px;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background-image: url('../../../assets/images/edit-mode-bg.svg');
                    background-size: calc(100%/12);
                    background-repeat: space;
                    z-index: -1;
                }

                padding: $base * 3;
            }
        }
    }

    &--with-header {
        padding-top: 0;
    }

    @media screen and (max-width: $screen-lg) {
        padding: $page-content-padding-md $page-content-padding-md 0 $page-content-padding-md;
        width: 100%;

        &__content {
            width: 100%;

            &__content-area {
                width: 100%;
            }
        }
    }

    @media print {
        display:block; width:620px; padding:1em;

        &__content {
            width: 100%;
        }
    }
}

@media print {
    div {
        break-inside: avoid;
    }
}
