.profile {
    @include rightBarItem();
    margin-bottom: $base * 6;
    height: $title-bar-height;

    &__photo {
        margin-right: $base * 3;
        width: 42px;
        height: 42px;
        position: relative;
        overflow: hidden;

        &:hover {
            .profile__photo__input {
                &-label {
                    opacity: 1;
                }
            }
        }

        & > img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }

        &__input {
            &-label {
                @include commonTransition();

                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: 50%;
                background: rgba(0, 0, 0, .55);
                display: flex;
                align-items: center;
                justify-content: center;
                opacity: 0;

                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

        &__label {

        }
    }


    &__position {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;
        width: calc(#{$right-bar-width - 102px});
        white-space: nowrap;
    }
}
