.select {
    position: relative;
    height: 36px;

    &__icon {
        position: absolute;
        user-select: none;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }

    &__placeholder {
        @include controlPlaceholder();

        position: absolute;
        top: calc(3px + #{$base * 2.5});
        left: $base * 3.5;
    }

    &:valid {
        &__placeholder {
            color: red;
        }
    }

    &--md {
        height: 40px;

        .select__field {
            padding: $base * 3 $base * 8 $base * 3 $base * 4;
        }

        .select__placeholder {
            top: calc(3px + #{$base * 3});
            left: $base * 4;
        }
    }

    &__field {
        @include controlBorder();
        @include borderRadius(2);
        @include commonTransition();

        padding: $base * 2.5 $base * 7.5 $base * 2.5 $base * 3.5;
        width: 100%;
        height: 100%;
        outline: 0;
        appearance: none;
        font-size: 12px;
        color: $color-kimberly-dark;
    }

    background-color: $color-white;

    &__option {
        @include controlPlaceholder();
    }
}
